.Dates {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    min-height: 89vh;
    width: 100%;
    font-family: 'Cardo';
    &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: '';
        background-color: rgb(243, 243, 243);
        z-index: -1;
    }
    main.main-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 80%;
        margin-top: 1rem;
        margin-inline: auto;
        padding-inline: 1rem;
        background-color: white;
    }
}

header.dates-container-header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    & > * {
        margin: 0;
        padding: 0;
    }
    span {
        font-weight: bold;
        font-family: 'Zen Kaku Gothic New';
        font-weight: 600;
        letter-spacing: 2px;
    }
    p {
        font-size: 20px;
        text-transform: uppercase;
        color: rgb(114, 80, 80);
    }
}

.DateElement {
    display: flex;
    gap: 6rem;
    justify-content: center;
    padding: 1rem;
    border-bottom: 1px solid rgb(211, 211, 211);
    &:nth-of-type(5) {
        border-bottom: none;
    }
    .date-container, .location-container, .name-container {
        display: flex;
        flex-direction: column;
        & > * {
            margin: 0;
            padding: 0;
        }
    }
    .date-container {
        display: flex;
        flex-direction: column;
        width: 5rem;
        align-items: center;
        justify-content: center;
        & > * {
            padding: 0;
            margin: 0;
        }
        .week, .time {
            color: rgb(119, 119, 119);
            font-size: 14px;
            font-family: 'Zen Kaku Gothic New';
            font-weight: 600;
            letter-spacing: 2px;

        }
        align-items: center;
        .week {
            text-transform: uppercase;

        }
        .month {
            text-transform: uppercase;
            font-size: 18px;
            color: rgb(114, 80, 80);
            margin-bottom: -0.1rem;
            font-weight: 500;
        }

    }
    .location-container {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        justify-content: center;
        margin-right: auto;
        .city {
            font-size: 30px;

        }
        .arena {
            text-transform: uppercase;
            color: rgb(119, 119, 119);
            font-size: 14px;
            font-family: 'Zen Kaku Gothic New';
            font-weight: 600;
            letter-spacing: 2px;
        }
    }
    .name-container {
        border-left: none;
        padding: 1rem;
        width: 30%;
        margin-block: auto;
        text-align: center;
        font-family: 'Cardo';
        font-size: 21px;
        font-weight: 500;
        color: rgb(0, 0, 0);
    }
}