.ScrollNavigation {
    width: 100%;
    margin-inline: auto;
    // margin-top: 2rem;
    gap: 60px;
    display: flex;
    justify-content: center;
    height: 3rem;
    // border: 1px solid white;
    align-items: center;
    text-align: center;
    background-color: rgba(63, 63, 63, 1);
    z-index: 2;
    ul {
        display: flex;
        list-style: none;
        color: rgb(170, 170, 170);
        font-size: 14px;
        gap: 60px;
        li {
            font-family: 'Raleway';
            letter-spacing: 4px;
            text-transform: uppercase;
            position: relative;
            &::before {
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 0%;
                height: 1px;
                content: '';
                background-color: rgba(255, 255, 255, 0.774);
                transition: all 0.2s ease-in-out;
            }
            &:hover::before {
                width: 70%;
                transition: all 0.2s ease-in-out;
            }
            // &.active {
            //     color: white;
            // }
        }
    }
    .language-switcher {
        text-align: center;
        display: flex;  
        gap: 0;
        align-items: center;
        justify-content: center;
        // color: white;
        font-size: 14px;
        margin-bottom: 1px;
        .lang-btn {
            width: 2rem;
            background-color: rgba(0,0,0, 0);
            color: rgb(131, 131, 131);
            font-size: 14px;
            font-family: 'Raleway';
            text-align: center;
            cursor: pointer;
            &.active {
                color: rgb(185, 185, 185);
            }
            &:hover {
                color: rgb(255, 255, 255);
            }
        }

        span {
            text-align: center;
            // margin-bottom: 2px;
            color: white;
            font-size: 16px;
        }
    }
}

.active {
    color: rgb(236, 236, 236);
}

.wrapper-navigation {
    display: flex;
    gap: 60px;
    width: 90%;
    justify-content: center;
}